@media (max-width: 992px) {
    header {
        background-image: url(../img/man-1.jpg);
        height: 50vh;
    }

    .text {
        position: relative;
        text-align: center;
        padding-top: 15px;
        top: 100%;
    }
}

@media (max-width:1170px) and (min-width: 992px) {
    header {
        background-image: url(../img/man-2.jpg);
        height: 70vh;
    }

    .text {
        color: #fff;
        text-align: left;
        position: absolute;
        top: 20%;
        right: 20px;
    }
}

@media (min-width: 1170px) {
    header {
        background-image: url(../img/man-1.jpg);
        height: 100vh;
    }

    .text {
        color: #fff;
        position: absolute;
        top: 50%;
        padding-left: 5%;
    }
}